.footer .social-links{
    margin-bottom: 30px;
}
.footer .social-link img{
	max-width: 35px;
    opacity: 0.5;
    margin-right: 10px;
}
.footer .footer-links ul{
	list-style: none;
}
.footer .footer-links li a{
	font-size: 15px;
	color: #c0c0c0;
}

.footer .footer-copyright{
	color: #c0c0c0;
	font-size: 10px;
}